MONGO_URL=mongodb+srv://NOM_D_UTILISATEUR:MOT_DE_PASSE_ICI@maxtrackercluster.syynp7b.mongodb.net/?retryWrites=true&w=majority&appName=MaxTrackerCluster
DB_NAME=tgvmax
CORS_ORIGINS=http://localhost:3000
